package components

css paragraph() {
    text-align: justify;
    text-justify: inter-word;
}

templ body(bd Body) {
    @spacer()
    <blockquote class="blockquote">
        <p class={"paragraph", templ.KV(paragraph(), true)}>{bd.Paragraph}</p>
    </blockquote>
}